
/* ===== Global Reset ===== */
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  border: 8px solid black;
}

/* ===== Navigation ===== */
#nav {
  height: 80px;
  background-color: #fff;
  margin-bottom: 50px;
  text-align: center;
}

#nav img {
  height: 78px;
  margin-right: 180px;
}

#nav input,
#fut-search input {
  width: 260px;
  height: 22px;
  background-color: gray;
  color: white;
  padding: 1px 2px;
  border-radius: 2px;
  border: none;
}

select {
  background-color: gray;
  color: white;
  width: 88px;
  height: 18px;
  border-radius: 2px;
}

button {
  background-color: gray;
  color: white;
  width: 108px;
  height: 22px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

hr {
  width: 100%;
}

/* ===== Hero Section ===== */
#hero {
  text-align: center;
  font-size: 13px;
}

a {
  font-size: 16px;
  color: #0000ee;
}

/* ===== Search Results ===== */
.result {
  line-height: 20px;
  margin: 16px 40px;
}

.result pre {
  font-size: 13px;
}

.link-green {
  font-size: 13px;
  color: #008000;
}

.link-small {
  font-size: 13px;
}

/* ===== Footer Image ===== */
#Futimg {
  text-align: center;
  margin-left: 170px;
}

/* ===== Pagination ===== */
#pageresult {
  text-align: center;
  font-size: 10px;
}

.page-number {
  font-size: 10px;
}

#next-page {
  font-size: 10px;
  color: #008000;
}

#Result {
  font-size: 13px;
  color: black;
}

/* ===== Bottom Search ===== */
#fut-search {
  text-align: center;
  margin-top: 20px;
}

/* ===== Footer ===== */
#footer {
  text-align: center;
}

#footer .label {
  font-size: 13px;
  color: black;
}

#footer .links {
  font-size: 13px;
}

#copyright,
#copyright-author {
  text-align: center;
  margin: 20px 0;
}

.copy-text {
  font-size: 13px;
  color: black;
}

.copy-link {
  font-size: 13px;
}
