/* ########## GLOBAL RESET & TYPOGRAPHY ########## */
body {
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    color: #333;
    background-color: #fff;
    /* The very old FB had white body background but content wrapper was different, actually usually #eff0f5 page background */
    background: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    /* Centering hack for IE */
}

a {
    color: #3b5998;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

/* ########## HEADER ########## */
.fb-header {
    background: #3b5998;
    height: 43px;
    /* Classic height */
    width: 100%;
    position: relative;
    border-bottom: 1px solid #133783;
}

.fb-header-inner {
    width: 760px;
    /* Classic width was around 760px-960px */
    margin: 0 auto;
    text-align: left;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.fb-logo {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1px;
    font-family: tahoma, verdana, arial, sans-serif;
    /* Slight variation for logo */
}

.fb-header-utils {
    font-size: 11px;
}

.fb-header-link {
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
    padding: 2px 5px;
}

.fb-header-link:hover {
    background-color: #4f6aa3;
    /* Slight highlight */
    text-decoration: none;
}

/* ########## LAYOUT ########## */
.fb-main-container {
    width: 760px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    /* Modern flex for layout, but visually classic */
    padding-top: 10px;
}

/* ########## LEFT SIDEBAR ########## */
.fb-sidebar-left {
    width: 140px;
    padding-right: 10px;
}

.fb-profile-box {
    margin-bottom: 15px;
}

.fb-profile-pic-placeholder {
    width: 100%;
    height: 100px;
    background-color: #eceff6;
    border: 1px solid #d8dfea;
    margin-bottom: 5px;
}

.fb-profile-name {
    font-weight: bold;
    display: block;
}

.fb-profile-status {
    color: #666;
    font-size: 9px;
}

.fb-search-form {
    margin-bottom: 10px;
}

.fb-search-input {
    width: 130px;
    border: 1px solid #8496ba;
    padding: 2px;
    font-size: 11px;
}

.fb-menu-item {
    margin-bottom: 4px;
}

.fb-menu-item a {
    color: #3b5998;
    display: block;
    padding: 2px 0;
}

.fb-menu-item a:hover {
    background-color: #eff2f7;
    text-decoration: none;
}

/* ########## CENTER FEED ########## */
.fb-feed-center {
    width: 440px;
    /* 760 - 140 - 180 */
    padding: 0 10px;
    border-left: 1px solid #d8dfea;
    border-right: 1px solid #d8dfea;
    min-height: 500px;
}

.fb-section-header {
    background-color: #d8dfea;
    color: #3b5998;
    font-weight: bold;
    padding: 4px 6px;
    border-top: 1px solid #3b5998;
    margin-bottom: 10px;
}

.fb-status-update-box {
    background-color: #fff;
    border: 1px solid #d8dfea;
    padding: 10px;
    margin-bottom: 15px;
}

.fb-status-input-wrapper {
    display: flex;
    margin-top: 5px;
}

.fb-status-input {
    flex-grow: 1;
    border: 1px solid #bdc7d8;
    padding: 3px;
    font-family: inherit;
    font-size: 11px;
}

.fb-btn {
    background-color: #3b5998;
    border: 1px solid #29487d;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 6px;
    cursor: pointer;
    margin-left: 5px;
}

.fb-feed-stream {
    margin-top: 20px;
}

.fb-post {
    display: flex;
    padding: 8px 0;
    border-bottom: 1px solid #eceff6;
}

.fb-post-icon {
    width: 30px;
    height: 30px;
    background-color: #eceff6;
    border: 1px solid #d8dfea;
    margin-right: 8px;
}

.fb-post-content {
    flex: 1;
}

.fb-user-link {
    font-weight: bold;
    color: #3b5998;
}

.fb-post-message {
    margin: 3px 0;
    color: #000;
}

.fb-post-meta {
    color: #888;
    font-size: 9px;
    margin-top: 3px;
}

.fb-post-image-placeholder {
    width: 100px;
    height: 75px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    margin-top: 5px;
}

/* ########## RIGHT SIDEBAR ########## */
.fb-sidebar-right {
    width: 160px;
    /* Remaining width */
    padding-left: 10px;
}

.fb-right-section {
    margin-bottom: 15px;
}

.fb-request-item,
.fb-birthday-item {
    padding: 3px 0;
    border-bottom: 1px solid #eceff6;
}

.fb-ad-item {
    font-size: 10px;
}

/* ########## FOOTER ########## */
.fb-footer {
    width: 760px;
    margin: 20px auto;
    border-top: 1px solid #d8dfea;
    padding-top: 10px;
    text-align: center;
    color: #888;
}

.fb-footer-links a {
    margin: 0 5px;
    color: #3b5998;
}

.fb-copyright {
    margin-top: 5px;
    font-size: 10px;
}